<div class="clr-row toolbar" style="padding: 12px; margin:0">
    <span>
        <clr-icon shape="search"></clr-icon>
        <input #filterInput clrInput type="text" placeholder="Filter images..." style="margin-top: 0;" (keyup)="filter$.next(filterInput.value)" />
    </span>
    <span>
        <button type="button" class="btn btn-icon btn-primary" aria-label="settings" (click)="fileInput.click()">
            <clr-icon shape="folder-open"></clr-icon>
            Open
        </button>
        <input #fileInput multiple type="file" style="display:none" accept="image/*" (change)="addFiles(fileInput)" />
    </span>
</div>
<div class="clr-row image-container">
    <div class="image-card" *ngFor="let img of images$ | async">
        <a href="javascript:void(0)" class="card clickable" (click)="select(img, !selected.includes(img))" [class.active]="selected.includes(img)">
            <div class="card-img">
                <img [attr.src]="img.url" />
            </div>
            <div class="card-block">
                <p class="card-text">
                    {{img.name}}
                </p>
            </div>
        </a>
    </div>
</div>