<div class="main-container">
  <!-- <clr-alert [clrAlertAppLevel]="true">
    <clr-alert-item>
      <span class="alert-text">
        Congratulations, you have installed Clarity!
      </span>
    </clr-alert-item>
  </clr-alert> -->
  <header class="header header-6">
    <div class="branding">
      <a href="javascript:void(0)">
        <clr-icon shape="compass"></clr-icon>
        <span class="title">SuperStation Creator</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="folder-open"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="play"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="export"></clr-icon>
      </a>
    </div>
  </header>
  <!-- <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="javascript://">Subnav Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Subnav Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Subnav Link 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Subnav Link 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Subnav Link 5</a>
      </li>
    </ul>
  </nav> -->
  <div class="content-container">
    
    <div class="content-area" style="padding: 0;">
      <clr-tabs>

        <clr-tab *ngFor="let tab of tabs">
          <button clrTabLink>
            <clr-icon [attr.shape]="tab.icon"></clr-icon>
            <span class="sst-tab-header">{{tab.model.name}}</span>
            <clr-icon shape="times" (click)="closeTab(tab.model)"></clr-icon>
          </button>
          <ng-template [(clrIfActive)]="tab == activeTab">
            <clr-tab-content>
              <app-scene *ngIf="isScene(tab.model)" class="sst-tab-content"></app-scene>
              <app-background *ngIf="isBackground(tab.model)" class="sst-tab-content"></app-background>
              <app-sprite *ngIf="isSprite(tab.model)" class="sst-tab-content"></app-sprite>
              <app-image-browser *ngIf="tab.model == imageBrowserTab" class="sst-tab-content"></app-image-browser>
            </clr-tab-content>
          </ng-template>
        </clr-tab>

      </clr-tabs>
    </div>

    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox" />
          <label for="tabexample2">Content</label>
          <clr-tree>            
            
            <clr-tree-node *ngFor="let coll of navigation.collections" [(clrExpanded)]="coll.isOpen">
              <clr-icon [attr.shape]="coll.icon" class="is-solid"></clr-icon>
              <div class="sst-navbox">
                {{coll.name}}
                <div>
                  <clr-dropdown [clrCloseMenuOnItemClick]="true">
                    <button clrDropdownTrigger>
                      <clr-icon shape="ellipsis-vertical"></clr-icon>
                    </button>
                    <clr-dropdown-menu *clrIfOpen>
                      <div clrDropdownItem (click)="coll.add()">New</div>
                    </clr-dropdown-menu>
                  </clr-dropdown>
                </div>
              </div>        
              <clr-tree-node *ngFor="let item of coll.$items | async">
                <button (click)="openTab(coll.icon, item.model)" class="clr-treenode-link" [class.active]="activeTab != null && activeTab.model == item.model">
                  <clr-icon [attr.shape]="coll.icon"></clr-icon>
                  <div class="sst-navbox" *ngIf="!item.isRenamed">
                    {{item.model.name}}
                    <div>
                      <clr-dropdown [clrCloseMenuOnItemClick]="true">
                        <button clrDropdownTrigger>
                          <clr-icon shape="ellipsis-vertical"></clr-icon>
                        </button>
                        <clr-dropdown-menu *clrIfOpen>
                          <div clrDropdownItem (click)="item.isRenamed = true">Rename</div>
                          <div clrDropdownItem>Clone</div>
                          <div clrDropdownItem>Remove</div>
                        </clr-dropdown-menu>
                      </clr-dropdown>
                    </div>
                  </div>   
                  <div class="sst-navbox" *ngIf="item.isRenamed">
                    <input clrInput type="text" [value]="item.model.name" (change)="item.model.name = $any($event!.target).value"/>
                    <clr-icon shape="check" (click)="item.isRenamed = false"></clr-icon>
                  </div>        
                </button>
              </clr-tree-node>   
            </clr-tree-node>

            <clr-tree-node>
              <button (click)="openTab('image', imageBrowserTab)" class="clr-treenode-link" [class.active]="activeTab != null && activeTab.model == imageBrowserTab">
                <clr-icon shape="image" class="is-solid"></clr-icon>
                <div class="sst-navbox">
                  Image Browser
                </div>        
              </button>
            </clr-tree-node>

            <!-- <clr-tree-node *ngFor="let directory of rootDirectory" [(clrExpanded)]="directory.expanded">
              <clr-icon [attr.shape]="directory.icon"></clr-icon>
              {{directory.name}} 
              <clr-tree-node *ngFor="let file of directory.files">
                <button (click)="openFile(directory.name, file.name)" class="clr-treenode-link" [class.active]="file.active">
                  <clr-icon [attr.shape]="file.icon"></clr-icon>
                  {{file.name}}
                </button>
              </clr-tree-node>
            </clr-tree-node> -->
          </clr-tree>
        </section>
      </section>
    </nav>
  </div>
</div>